{% for project in projects %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ project.name }}</h3>
                <small>
                    URL: <a href="{{ project.url }}">{{ project.url }}</a>
                </small><br>
                {% if project.screenshot_url %}
                    <img src="{{ project.screenshot_url }}" alt="{{ project.name }} screenshot">
                {% endif %}
                <p>{{ project.description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
