{% load static %}
<div class="container">
    <div class="row">
        {% for project in projects %}
        <div class="col-12 col-md-6">
            <div class="card card-hover border-0 p-3 h-100">
                <h4><strong>{{ project.name }}</strong></h4>
                <p class="text-dark">
                    <strong>URL: </strong><a href="{{ project.url }}" target="_blank">Project Website</a><br>
                    <strong>GitHub: </strong><a href="{{ project.github_url }}" target="_blank">Project on GitHub</a>
                </p>
                <img id="card-img" src="{% static project.screenshot_url %}" alt="Screenshot" class="w-100">
                <div class="mt-4 text-truncated">
                    <span class="text-short">{{ project.description|truncatechars:200 }}</span>
                    <span class="text-full" style="display: none;">{{ project.description }}</span>
                    {% if project.description|length > 200 %}
                        <a href="javascript:void(0);" class="show-more-link">...more</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
