.env
__pycache__/
*.py[cod]
*.pyc
*~
instance/
.mypy_cache/
.mypy_cache/
.pytest_cache/
instance/
.idea/
poetry.lock
db.sqlite3
mysite/db.sqlite3
userdata
myenv
userdata
mode.ls
data.json
static/screenshots/*
!static/screenshots/.gitkeep
content_dump.json
staticfiles/
samples/
dumps/
```