{% for education in educations %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ education.school }}</h3>
                <p>{{ education.faculty }}</p>
                <small>
                    {{ education.start_date }} -
                    {% if education.end_date %}
                        {{ education.end_date }}
                    {% else %}
                        Present
                    {% endif %}
                </small><br>
                <p class="my-3">{{ education.description|linebreaksbr }}</p>
            </div>
        </div>
    </div>
{% endfor %}
