{% extends 'base_generic.html' %}

{% block content %}
  <h2>education List</h2>
  <div class="container">
    {% for education in educations %}
      <div class="card mb-3">
          <div class="card-body">
              <h5 class="card-title"><strong>{{ education.school }}</strong></h5>
              <p class="text-dark"><em><strong>{{ education.faculty }}</strong></em> [{{ education.start_date }} -
                  {% if education.end_date %}
                      {{ education.end_date }}
                  {% else %}
                      Present
                  {% endif %}]</p>
              <div class="mt-3">
                  <p class="card-text">{{ education.description }}</p>
              </div>
              <div class="mt-3">
                  <a href="{% url 'education:education_edit' education.id %}" class="btn btn-primary">Edit</a>
                  <a href="{% url 'education:education_delete' education.id %}" class="btn btn-danger">Delete</a>
              </div>
          </div>
      </div>
    {% endfor %}
    <a href="{% url 'education:education_new' %}" class="btn btn-success">Add New education</a>
  </div>
{% endblock %}
