{% for education in educations %}
    <div class="container">
        <div class="row">
            <div class="col card-hover">
                <strong>{{ education.school }}</strong>
                <p class="text-dark">
                    <em><strong>{{ education.faculty }}</strong></em> [{{ education.start_date }} -
                    {% if education.end_date %}
                        {{ education.end_date }}
                    {% else %}
                        Present
                    {% endif %}]
                </p>
                <div class="mt-4">
                    <p>{{ education.description|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
