{% load static %}
{% for project in open_source_projects %}
    <div class="container">
        <div class="row">
            <div class="col card-hover">
                <strong>{{ project.job_title }}</strong>
                <p class="text-dark">
                    <em><strong>{{ project.name }} </strong></em>[{{ project.start_date }} -
                    {% if project.end_date %}
                        {{ project.end_date }}
                    {% else %}
                        Present
                    {% endif %}]
                </p>
                <div class="mt-4">
                    <strong>URL:</strong> <a href="{{ project.url }}" target="_blank">{{ project.url }}</a><br>
                    <strong>GitHub:</strong> <a href="{{ project.github_url }}" target="_blank">{{ project.github_url }}</a>
                </div>
                <div class="mt-4">
                    <p>{{ project.description|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
