<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="Persönliche Bewerbungsseite von Nikolai Gordienko, Python-Entwickler"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script async src="https://www.google.com/recaptcha/api.js"></script>
    <title>Nikolai Gordienko | Python-Entwickler</title>
    <style>
        .ready {
            color: green;
        }
        .not-ready {
            color: red;
        }
        .accordion-body {
            transition: height 1,5s ease-in-out;
        }
    </style>
</head>
<style>
  .ready {
    color: green;
  }
  .not-ready {
    color: red;
  }
  .accordion-body {
    transition: height 1,5s ease-in-out;
  }
</style>
<body class="container bg-light">
{% load static %}
{% include 'bar.html' %}
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>