{% for experience in experiences %}
  {% if not experience.end_date or experience.end_date == 'Present' %}
    {% if mode == 'current' %}
    <div>
      <h4>{{ experience.job_title }}</h4>
      <p>
        <strong>{{ experience.company }}</strong> [{{ experience.start_date }} - Present]
      </p>
      {% if experience.url %}
        <a href="{{ experience.url }}">{{ experience.url }}</a>
      {% endif %}
      <p>{{ experience.description|linebreaksbr }}</p>
    </div>
    {% endif %}
  {% else %}
    {% if mode == 'previous' %}
    <div>
      <h4>{{ experience.job_title }}</h4>
      <p>
        <strong>{{ experience.company }}</strong> [{{ experience.start_date }} - {{ experience.end_date }}]
      </p>
      {% if experience.url %}
        <a href="{{ experience.url }}">{{ experience.url }}</a>
      {% endif %}
      <p>{{ experience.description|linebreaksbr }}</p>
    </div>
    {% endif %}
  {% endif %}
{% endfor %}
