{% extends 'base_generic.html' %}

{% block content %}
  <h2>Experience List</h2>
  <div class="container">
    {% for experience in experiences %}
      <div class="card mb-3">
          <div class="card-body">
              <h5 class="card-title"><strong>{{ experience.job_title }}</strong></h5>
              <p class="text-dark"><em><strong>{{ experience.company }}</strong></em> [{{ experience.start_date }} -
                  {% if experience.end_date %}
                      {{ experience.end_date }}
                  {% else %}
                      Present
                  {% endif %}]
              </p>
              <div class="mt-2">
                  City: {{ experience.city }}<br>
                  Country: {{ experience.country }}
              </div>
              <div class="mt-4">
                  <p class="card-text">{{ experience.description }}</p>
              </div>
              <div class="mt-3">
                  <a href="{% url 'experience:experience_edit' experience.id %}" class="btn btn-primary">Edit</a>
                  <a href="{% url 'experience:experience_delete' experience.id %}" class="btn btn-danger">Delete</a>
              </div>
          </div>
      </div>
    {% endfor %}
    <a href="{% url 'experience:experience_new' %}" class="btn btn-success">Add New Experience</a>
  </div>
{% endblock %}
