{% for experience in experiences %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h5><strong>{{ experience.job_title }}</strong></h5>
                    <p class="text-dark">
                        <em><strong>{{ experience.company }}</strong></em> [{{ experience.start_date }} -
                        {% if experience.end_date %}
                            {{ experience.end_date }}
                        {% else %}
                            Present
                        {% endif %}]
                    </p>
                <div class="mt-4">
                    City: {{ experience.city }}<br>
                    Country: {{ experience.country }}
                </div>
                <div class="mt-4">
                    <p>{{ experience.description|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}